*.sav
*.bak
*.sgm
Software/Advance_Map_1.92/Ini/AdvanceMap.ini
Software/Advance_Map_1.95/Ini/AdvanceMap.ini
Software/Advance_Map_1.95/Most recently used ROM.gba.lnk
Software/Advance_Map_1.92/Most recently used ROM.gba.lnk
